.main-header{
	width:100%;
	float:left;
	padding:20px 0;
}
.header-logo{
	width:176px;
	height:44px;
	float:left;
	background:url(../../assets/img/logo.svg) no-repeat;
	background-size:100%;
	font-size:0;
}
.main-nav{
	width:auto;
	float:right;
}
.main-nav li{
	width:auto;
	float:left;
	padding:13px 20px 11px 20px;
}
.main-nav li a{
	width:auto;
	float:left;
	font-family: 'AvenirNext-DemiBold';
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	position:relative;
}
.main-nav li a:before{
	position: absolute;
    top: -7px;
    left: 0px;
    content: '[';
    font-size: 22px;
	visibility:hidden;
	opacity:0;
	transition:left 0.3s ease-in-out;
}
.main-nav li a:after{
	position: absolute;
    top: -7px;
    right:0px;
    content: ']';
    font-size: 22px;
	visibility:hidden;
	opacity:0;
	transition:right 0.3s ease-in-out;
}
.main-nav li a:hover:before{
	left: -10px;
	visibility:visible;
	opacity:1;
}
.main-nav li a:hover:after{
	right: -10px;
	visibility:visible;
	opacity:1;
}
.header-login-block{
	float:right;
	width:auto;
}
.login-btn{
	width:auto;
	float:right;
	padding:8px 20px;	
	font-family: 'AvenirNext-Regular';
	background-color:#9B204C;
	color:#fff;
	text-transform:uppercase;
	box-shadow:0 3px 6px rgba(155, 32, 76, 0.3);
	border-radius:4px;
	text-decoration:none;
	margin-left: 20px;
    margin-top: 4px;
}
.after-login{
	width:auto;
	float:right;
	position:relative;
}
.user-notification-main{
	position:relative;
	float:left;
}
.user-notification{
	position:relative;
	width:21px;
	height:26px;
	float:left;
	background:url(../../assets/img/notification.svg) no-repeat;
	background-size:100%;
	margin:10px 20px 0 20px;
	cursor:pointer;
}
.noti-count{
	width:15px;
	height:15px;
	background-color:#9B204C;
	color:#fff;
	font-family: 'AvenirNext-Medium';
	font-size:10px;
	text-align:center;
	border-radius:50%;
	position:absolute;
	top:-3px;
	right:-6px;
	padding-top:1px;
}
.user-noti-dropdown{
	width:100%;
	min-width:200px;
	max-width:250px;
	float:left;
	position:absolute;
	right:0;
	top:50px;
	background-color:#fff;
	padding:10px;
	box-shadow:3px 3px 15px rgba(0, 0, 0, 0.2);
	border-radius:4px;
}
.user-noti-dropdown li{
	width:100%;
	float:left;
	font-family: 'AvenirNext-DemiBold';
	text-align:right;
}
.user-noti-dropdown li a{
	width:100%;
	float:left;
	text-decoration:none;
	color:#000;
}
.user-small-profile-main{
	float:left;
	position:relative;
	padding-left:20px;
}
.user-small-profile{
	width:auto;
	float:right;
	display:grid;
	grid-template-columns: auto auto;
	position:static;
	cursor:pointer;
}
.user-sp-pic{
	width:44px;
	height:44px;
	float:left;
	margin-right:10px;
	box-shadow:3px 3px 15px rgba(0, 0, 0, 0.2);
	border:3px solid #fff;
	overflow:hidden;
	border-radius:50%;
}
.user-sp-pic img{
	max-width:100%;
}
.user-sp-text{
	width:100%;
	color:#9B204C;
	font-family: 'AvenirNext-DemiBold';
	position:relative;
	padding-right:30px;
	display:flex;
	display:-webkit-flex;
	align-items:center;
	justify-content:center;
	min-width:86px;
	max-width:86px;
}
.user-sp-text:after{
	width:12px;
	height:7px;
	float:left;
	background:url(../../assets/img/arrow-down-black.svg) no-repeat;
	background-size:100%;
	content:'';
	position:absolute;
	top:50%;
	right:0;
	transform: translateX(-50%);
	margin-top:-1px;
}
.user-sp-dropdown{
	width:100%;
	max-width:200px;
	min-width:200px;
	float:left;
	position:absolute;
	right:0;
	top:50px;
	background-color:#fff;
	padding:10px;
	box-shadow:3px 3px 15px rgba(0, 0, 0, 0.2);
	border-radius:4px;
}
.user-sp-dropdown li{
	width:100%;
	float:left;
	font-family: 'AvenirNext-DemiBold';
	text-align:right;
}
.user-sp-dropdown li a{
	width:100%;
	float:left;
	text-decoration:none;
	color:#000;
}
.header-hamburger{
	display:none;
}
.header-close{
	display:none;
}

/* iPad Devices */
@media (max-width:991px){
	
.main-header{	
	padding-right:55px!important;
}
.login-btn{
	margin-top:6px;
}	
.header-hamburger{
	display:block;
	position:absolute;
	top:31px;
	right:15px;
	font-size:0;
	width:36px;
}
.header-hamburger .line1,
.header-hamburger .line2,
.header-hamburger .line3 {
    width: 36px;
    height: 4px;
    background: #000;
    float: left;
    margin: 2.5px 0;
    border-radius:20px;
}
.header-close{
	display:block;
	position:absolute;
	top:31px;
	right:15px;
	z-index:11;
	width:36px;
}
.header-close .line1,
.header-close .line2 {
    width: 36px;
    height: 4px;
    background: #000;
    float: left;
    margin: 2.5px 0;
    border-radius:20px;
	transform:rotate(38deg);
	transform-origin:left 50%;
}
.header-close .line2{
	transform:rotate(-38deg);
	transform-origin:left bottom;
	margin-top:16px;
}
.main-nav{
    width:100%;
	height:100%;
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	padding:40px 0;
	overflow-y:scroll;
	z-index:10;
}
.main-nav li{
	width:100%;
}
.main-nav li a:before,
.main-nav li a:after{
	display:none;
}
.user-noti-dropdown,
.user-sp-dropdown{
	top:46px;
}
	
}

/* Mobile Devices */
@media (max-width:767px){

.main-header{
	padding: 10px 0;
}
.header-logo{
	width:126px;
	height:33px;
}
.user-small-profile-main{
	padding-left:10px;
}
.user-notification{
	margin:6px 15px 0 15px;
}
.user-sp-text{
	display:none;
}
.user-sp-pic{
	margin-right:0;
	width:36px;
	height:36px;
}
.login-btn{
	margin-top:0px;
}	
.header-hamburger,
.header-close{
	top:13px;
}
	
}