* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    min-height: calc(100vh - 289px);
    display: inline-block;
    background: #000 !important;
    width: 100%;
    float: left;
}