* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    background: #1d1d1b;
    float: left;
    width: 100%;
	padding: 60px 0 55px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer li {
    list-style: none;
    display: inline-block;
    margin: 0 6px;
}
.footer ul li{
    max-width: 30px;
}
.footer ul {
    text-align: center;
    margin-bottom: 15px;
}
.footer nav {
    text-align: center;
}
.footer li a {
    font-size: 14px;
}
.footer nav li a {
    text-decoration: unset !important;
    font-family: sans-serif;
    color: #fff;
    margin-top: 5px !important;
    display: block;
}
.copyright {
    text-align: center;
    color: #808080;
    font-family: sans-serif;
    margin-top: 10px;
	font-size: 14px;
}
.footer li a img {
    width: 100%;
}