* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
	padding: 0 15px;
}
.header {
    padding: 15px 0 12px;
}
.header nav li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 0 15px;
}
.header nav {
    display: inline-block;
    float: right;
    margin-top: 5px;
}
.header button {
    background: #9b204c;
    border: none;
    color: #fff;
    padding: 10px 20px;
    float: right;
    margin-top: 4px;
    border-radius: 3px;
    margin-left: 15px;
    outline: none;
    cursor: pointer;
}
.app-logo {
    display: inline-block;
}
.header nav li a {
    text-decoration: unset !important;
    font-family: sans-serif;
    color: #000;
    font-weight: bold;
}